<template>
  <section class="write-us">
    <div class="write-us-wrapper max-width">
      <p class="write-us-wrapper__title">{{$t('writeUsTitle')}}</p>
      <p class="write-us-wrapper__desc">{{$t('writeUsDesc')}}</p>

      <div class="link-block">
        <div class="link-wrapper" @click="isFeedback = true">
          <p>{{$t('writeUs')}}</p>
          <span></span>
        </div>
        <v-icon class="ml-2" color="#426BFF">mdi-arrow-top-right</v-icon>
      </div>
    </div>

    <Feedback :isFeedback="isFeedback" @changeFeedback="changeFeedback"/>
  </section>
</template>

<script>
import Feedback from '../../../components/Feedback.vue';

export default {
  name: 'ProjectWriteUs',

  data() {
    return {
      isFeedback: false,
    }
  },

  methods: {
    changeFeedback(val) {
      this.isFeedback = val
    },
  },

  components: { Feedback },
}
</script>

<style scoped lang="scss">
@import "src/assets/styles/variables";
.write-us {
  background-color: #F4F5F9;
}
.write-us-wrapper {
  height: 600px;
  padding: 200px 0 200px 330px;
  &__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
  }

  &__desc {
    font-weight: 500;
    font-size: 23px;
    line-height: 40px;
  }
}

.link-block {
  display: flex;
  .v-icon {
    font-size: 83px;
  }
}

.link-wrapper {
  display: inline-block;
  cursor: pointer;
  p {
    font-size: 100px;
    line-height: 110px;
    color: $text-blue;
    transition: .3s;
    margin-left: -10px;
  }

  span {
    height: 5px;
    width: 100%;
    background-color: $text-blue;
    opacity: 0.15;
    display: block;
    transition: .3s;
  }

  &:hover {
    p {
      color: $green;
      transition: .3s;
    }
    span {
      background-color: transparent;
      transition: .3s;
    }
  }
}

@media screen and (max-width: 1100px) {
  .write-us-wrapper {
    height: 310px;
    padding: 60px 0 60px 45px;
    &__title {
      font-size: 24px;
    }

    &__desc {
      font-size: 20px;
      line-height: 30px;
      margin: 20px 0 30px;
    }
  }

  .link-block {
    display: flex;
    .v-icon {
      font-size: 22px;
    }
  }

  .link-wrapper {
    p {
      font-size: 30px;
      line-height: 30px;
      margin-left: 0;
    }

    span {
      height: 2px;
    }
  }
}
</style>
