<template>
  <div class="board">
    <div class="block-title">
      <h3>{{$t('soviet')}}</h3>
    </div>
    <swiper
      ref="mySwiper2" :options="swiperOptions" class="swiper"
      :delete-instance-on-destroy="true"
      :cleanup-styles-on-destroy="true"
    >
      <swiper-slide v-for="el in trustee" :key="el.id" class="slider__slide">
        <UserItem :user="el" margin-bottom="60px"/>
      </swiper-slide>
      <div class="swiper-scrollbar" slot="pagination"></div>
    </swiper>
  </div>
</template>

<script>

import { Swiper, SwiperSlide } from 'vue-awesome-swiper';
import { mapState } from 'vuex';
import UserItem from './UserItem.vue';

export default {
  name: 'BoardBlock',

  computed: {
    ...mapState(['swiperOptions']),
    swiper() {
      return this.$refs.mySwiper2.$swiper
    },
  },

  components: { UserItem, Swiper, SwiperSlide },

  props: {
    trustee: {},
    isShow: {
      type: Boolean,
      default: false,
    },
  },
}
</script>

<style scoped lang="scss">
.board {
  display: none;
}

.board.isShow {
  display: block;
}
.slider__slide {
  width: 230px;
}

.block-title.isShow {
  padding-left: 0;
  margin: 50px 0 30px;
  h3 {
    max-width: 100%;
  }
}

@media screen and (max-width: 1100px) {
  .block-title {
    padding: 0;
    margin-bottom: 25px;
  }

  .board {
    display: block;
  }
}
</style>
