<template>
  <section class="block container-padding block-padding-right margin-bottom-new farm-width farm-heading-flex">
    <div class="wrap__farm-heading farm-heading-mobile">
      <div class="farm-heading__left">
        <div class="farm-heading__title">{{ title }}</div>
        <div class="farm-heading__farm-info">
          <img src="img/icon-edition-link.svg" />
          <div class="farm-info__text">Ферма закончила «Школу Фермеров» и получила грант на развитие</div>
        </div>
      </div>
    </div>
    <div class="wrap__farm-heading farm-heading-dextop">
      <div class="farm-heading__left">
        <div class="farm-heading__title">{{ title }} <img src="img/icon-edition-link.svg" /></div>
        <a class="farm-heading__address" href="#"><img src="img/icon-map.svg" />Московская обл, Раменский р-н,  д. Антоново</a>
      </div>
      <div class="farm-heading__right">
        <div class="farm-heading__share">
<!--          <script src="https://yastatic.net/share2/share.js"></script>-->
          <div class="ya-share2" data-curtain data-shape="round" data-copy="first" data-limit="0" data-more-button-type="short" data-services="vkontakte,facebook,odnoklassniki"></div>
        </div>
      </div>
    </div>
    <div class="wrap__farm-video">
      <div class="farm-video__block">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/o-4S10a7vrk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "PostTitle"



}
</script>

<style>
.farm-width{margin-left:auto;margin-right:auto;}
.wrap__farm-heading{display:flex; align-items:flex-end; justify-content:space-between}
.farm-heading__title{font: 700 30px/37px "Montserrat"; color: #343434;}
.farm-heading__title img{display:inline-block; vertical-align:middle; margin-left:10px}
.farm-heading__address{margin-top:10px; font: 500 16px/30px "Montserrat"; color: #13A538; display:block}
.farm-heading__address img{display: inline-block; vertical-align: -5px; margin-right: 5px;}
@media(min-width:768px){
  .farm-heading-mobile{display:none}
}
@media(max-width:1100px){
  .farm-heading__title{font: 700 26px/32px "Montserrat"}
  .farm-heading__title img{margin-left:5px}
  .farm-heading__address{margin-top:5px; font: 500 14px/26px "Montserrat"}
}
@media(max-width:991px){
  .farm-heading__title{font: 700 22px/26px "Montserrat"}
}
@media(max-width:767px){
  .wrap__farm-heading.farm-heading-mobile{order:1}
  .wrap__farm-heading{display:block; order:3}
  .wrap__farm-video{order:2}
  .farm-heading-flex {display: flex;flex-direction: column}
  .farm-heading-dextop .farm-heading__title{display:none}
  .farm-heading__title{font: 700 20px/24px "Montserrat"}
  .farm-heading__farm-info{display:flex;align-items:center;width: 250px; margin-top:15px}
  .farm-info__text{font: 500 10px/14px "Montserrat"; color: #939393;}
  .farm-heading__farm-info img{margin-right:15px}
  .farm-heading__address {margin-top: 20px;font: 500 12px/24px "Montserrat"; margin-bottom:10px}
  .farm-heading__address img{width: 16px;height: 16px;vertical-align: -5px;margin-right: 9px}
}
</style>
