@font-face {
  font-family: "Montserrat";
	font-weight: 300;
  src: local("Montserrat"),
   url(../fonts/Montserrat-Regular.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
	font-weight: 500;
  src: local("Montserrat"),
   url(../fonts/Montserrat-Medium.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
	font-weight: 700;
  src: local("Montserrat"),
   url(../fonts/Montserrat-Bold.ttf) format("truetype");
  font-display: swap;
}
