@import "variables";
@import "vuetify";
@import "fonts";
@import "projects";

* {
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  color: $text;
  font-family: 'Montserrat', sans-serif;
}

body {
  max-width: 1600px;
  margin: 0 auto;
}

.html{
  overflow-x: hidden;
}

.swiper-container {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.projects-wrapper, .news-wrapper {
  .swiper{
    overflow-y: hidden !important;
    .swiper-wrapper {
      //height: 230px;
      min-height: 230px !important;
    }
  }
}

.theme--light.v-application {
  background-color: $main-background;
}

.v-application p, p {
  margin-bottom: 0;
}

.v-application ul, ul {
  list-style: none;
  padding: 0;
}

.v-dialog {
  border-radius: $border-radius!important;
}

/*.max-width {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}*/

.block{
  //margin-bottom: 200px;
  width: 100%;
}

.block-title{
  grid-column: 2 / 5;
  h3 {
    text-wrap: none;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
  }
}

.block-content{
  grid-column: 5 / 13;
}

.swiper{
  overflow: auto !important;
}

.content{
  margin-bottom: 200px;
}

.yellow-btn {
  max-width: 320px;
  width: 100%;
  height: 75px;
  margin-top: 56px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-weight: 600;
  box-sizing: border-box;
  border-radius: $border-radius;
  background-color: $yellow;
  transition: .3s;
}

.block-title-abs {
  grid-column: 2/5;
  position: relative;
  h3 {
    position: absolute;
    z-index: 2;
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
  }
  svg {
    position: absolute;
    top: 0;
    left: -20px;
    z-index: 1;
  }
}

.green-wrapper {
  width: calc(100% - 2*#{$large-container-margin});
  background-color: $green;
  padding: 80px 0 60px;
  border-radius: 24px;
  margin-bottom: 50px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  cursor: pointer;

  &:vertical {
    width: 4px;
  }

  &:horizontal {
    height: 2px;
    padding: 3px 0;
  }
}

::-webkit-scrollbar-thumb {
  background-color: $scroll-horizontal;
  border-radius: 10px;
  &:vertical {
    background-color: $scroll-vertical;
  }
}

::-webkit-scrollbar-track {
  background-color: $scroll-background;
  border-radius: 10px;
}

/*.swiper-container-horizontal > .swiper-scrollbar {
  height: 2px!important;
  background-color: $scroll-background;
}*/
.swiper-container-horizontal > .swiper-scrollbar {
  display: none;
}
.swiper-scrollbar-drag {
  background-color: $green!important;
}

.fade {
  animation: opacity .3s;
}

.loader {
  margin-top: 100px;
  margin-left: 50%;
  transform: translate(-50%);
}

.green-link {
  color: $green;
  cursor: pointer;
  font-size: 14px !important;
  line-height: 20px !important;
}

.block-header {
  margin-bottom: 165px;
  .header-wrapper {
    display: flex;
    align-items: flex-end;
    padding: 0 0 35px 210px;

    .header-wrapper__title {
      font-weight: 500;
      font-size: 23px;
      line-height: 30px;
      margin-right: 10px;
      white-space: pre-line
    }
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}



@media screen and (max-width: 1100px) {
  .content{
    margin-bottom: 56px;
  }
  .target_title {
    padding: 30px 30px 18px 30px !important;
  };
  .target_content {
    padding: 0 30px 30px 30px !important;
  };
  .inline-grid-container{
    grid-column-gap: 10px !important;
  }

  .page-block{
    section {
      grid-area: 1/1/2/13;
    }
  }

  .img-table{
    td {
      display: block;
      padding: 20px 0;
    }
    img {
      width: 100%;
      height: auto !important;
    }
  }
  
  .target_content {
    font-size: 18px !important;
  }
  
  .target_title {
    font-size: 25px !important;
  }

  .project-wrapper {
    margin-top: 48px;
    grid-area: 2/1/3/13;
  }
  
  .green-wrapper {
    width: 100%;
  }

  .text_title {
    font-size: 18px !important;
  }
  
  .block-title-abs {
    margin-bottom: 46px;
    grid-area: 1 / 1 /2 /13;
    white-space: nowrap;
    h3{
      font-size: 20px;
    }
    svg{
      height: 20px;
      top: 5px;
      left: -18px;
    }
  }
  ::-webkit-scrollbar-track {
      &:horizontal {
        margin-right: 6vw !important;
      }
  }

  .block {
    margin-bottom: 70px;
    //padding-right: 0 !important;
  }
  
  .block-title {
    grid-column: 1 / 13;
    display: flex;
    justify-content: space-between;
    padding-right: $medium-container-margin;
    h3{
      font-size: 20px;
    }
  }

  .block-content{
    grid-area: 2/1/2/13;
  }
  
  .swiper::-webkit-scrollbar {
    display: none;
    
  }
  .slider__slide {
    max-width: 310px;
  }

  .block-header {
    margin-bottom: 70px;
    .header-wrapper {
      margin: 0 0 25px 0;
      padding: 0 25px;
      justify-content: space-between;
      .header-wrapper__title {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        margin-right: 10px;
        white-space: pre-line
      }
    }
  }
}



.inline-grid-container{
  display: inline-grid;
  grid-template-columns: repeat(12,  minmax(0, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 0;
}

.container-padding{
  padding-left: $large-container-margin;
  padding-right: $large-container-margin
}

.container-margin{
  margin-left: $large-container-margin;
  margin-right: $large-container-margin;
}

@media (max-width: 375px){

  .container-margin{
    margin-left: $small-container-margin;
    margin-right: $small-container-margin;
  }
  .block-title-abs {
    svg{
      right: -15px;
    }
  }
  .container-padding{
    padding-left: $small-container-margin;
    padding-right: $small-container-margin;
    
  }
}

@media (min-width: 376px) and (max-width: 1100px){

  .container-padding{
    padding-left: $medium-container-margin;
    padding-right: $medium-container-margin;
    overflow: hidden;
  }
  .container-margin{
    margin-left: $medium-container-margin;
    margin-right: $medium-container-margin
  }
  .block-title-abs {
    svg{
      right: -11px;
    }
  }
}

.v-overlay {
  height: 2000px;
}

.overlay-image > div.v-responsive__content:after {
  background-color:rgba(19, 165, 56, 0.6); // #13A538;
  position:absolute;
  width:100%;
  height:100%;
  bottom:-1000px;
  left:0;
  content: var(--more-details);
  display: flex;
  justify-content: center;
  color: white;
  vertical-align: middle;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}

@media (hover: hover) and (pointer: fine) {
  .overlay-image > div.v-responsive__content:hover:after {
    background-color:rgba(19, 165, 56, 0.6);
    //opacity: 0.6;
    position:absolute;
    width:100%;
    height:100%;
    bottom:0;
    left:0;
  }
  .yellow-btn {
    &:hover {
      background-color: $dark-yellow;
      transition: .3s;
    }
  }
}


:root {
  --more-details: 'more details'
}

.separator {
  //width: 95%;
  height: 1px;
  background-color: #E4E7F1;
}

.v-dialog {
  box-shadow: none;
  margin: 0 !important;
  overflow-x: hidden;
}

.text_title {
  font-weight: 600;
}

@media (min-width: 1101px) {
  .img-table{
    td {
      width: 50% !important;
      vertical-align: top;
    };
    img {
      height: 200px !important;
      object-fit: cover;
    }
  };
  .target_title {
    padding: 70px 70px 18px 70px !important;
  };
  .target_content {
    padding: 0 70px 70px 70px !important;
  };
  .text_title {
    font-size: 22px !important;
  }
  .page-block{
    section {
      grid-area: 1/5/2/11 !important;
      .title-block{
        flex-direction: row !important;
      }
    }
    margin-bottom: 200px;
    width: 100%;
  }

  .project-wrapper {
    margin-top: 56px;
    grid-area: 2/5/3/11 !important;
  }
}

.project-wrapper {
  .text_title {
    display: inline-block;
    margin-bottom: 20px !important;
  }
  img {
    width: 100% !important;
    border-radius: $border-radius;
    object-fit: cover;
  }
}
.target_title {
  border-top-left-radius: $border-radius !important;
  border-top-right-radius: $border-radius !important;
}

.target_content {
  border-bottom-left-radius: $border-radius !important;
  border-bottom-right-radius: $border-radius !important;
}

.ymaps-2-1-79-inner-panes, .ymaps-2-1-79-map{
  border-radius: 20px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}
