.projects {
  display: flex;
  flex-direction: column;
}

.v-application a {
  color: #343434;
}

.v-application a:hover {
  color: #13A538 !important;
}

.project-list__item {
  height: max-content;
  box-sizing: border-box;
  border-radius: $border-radius;
  transition: .3s;
  cursor: pointer;

  .item__img {
    border-radius: $border-radius;
    min-height: 145px;
  }

  .item__img.main-pr {
    min-height: 215px;
  }

  .item__img.main-pr.large__img {
    min-height: 525px;
  }

  &>p {
    font-size: 18px;
    line-height: 20px;
    margin-top: 14px;
    transition: .3s;
  }

  &:hover {
    transition: .3s;

    p {
      color: black;
      transition: .3s;
    }
  }
}

.project-list__item.margin {
  margin: 0 20px 25px 0;
}

.small {
  grid-column: span 1;
  grid-row: span 1;
  min-height: 215px;
  margin-bottom: 15px;
}

.large {
  grid-column: span 1;
  grid-row: span 2;
  min-height: 570px;
}

.small.mainVideo {
  // width: 340px;
}

.small.main-pr {
  min-height: 300px;
}

.large.main-pr {
  min-height: 610px;
}

.small__img {
  max-height: 157px;
  height: 157px;
}

.large__img {
  max-height: 472px;
}

@media screen and (max-width: 1100px) {

  .project-list__item {
    max-width: 340px;

    p {
      font-size: 16px;
    }
  }

  .project-list__item.margin {
    margin: 0 10px 5px 0;
  }

  .small {
    min-height: 230px;
  }

  .large {
    min-height: 570px;
  }
}

@media (min-width: 1500px) {
  .project-list__item {
    .item__img {
      min-height: 180px;
    }
  }

  .small {
    min-height: 260px;
  }
}

a span,
a path,
a,
button,
input,
select,
textarea {
  transition: all 0.3s ease 0s;
}

.margin-bottom-new {
  margin-bottom: 80px
}

.mb-0 {
  margin-bottom: 0
}

.title-h3-margin {
  margin-bottom: 30px !important
}

@media(max-width:1100px) {
  .margin-bottom-new {
    margin-bottom: 60px
  }

  .title-h3-margin {
    margin-bottom: 20px !important;
  }

  .block-padding-right {
    padding-right: 6% !important
  }
}

@media(max-width:991px) {
  .margin-bottom-new {
    margin-bottom: 40px
  }
}

@media(max-width:575px) {
  .title-padding-mobile {
    padding-left: 6%;
    padding-right: 6%;
  }

  .padding-mobile-none {
    padding-left: 0 !important;
    padding-right: 0 !important
  }
}

@media(max-width:375px) {
  .block-padding-right {
    padding-right: 6.66667% !important
  }

  .title-padding-mobile {
    padding-left: 6.66667%;
    padding-right: 6.66667%;
  }

  .padding-mobile-none {
    padding-left: 0 !important;
    padding-right: 0 !important
  }
}

/*** Директор ***/
.wrap__dir-quote {
  padding: 0 50px 0 105px;
  height: 412px;
  background: rgba(19, 165, 56, 0.07) url(/src/assets/img/list-dir.png) no-repeat bottom left;
  border: 1px solid #E9E9E9;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center
}

.dir-quote__name {
  font-weight: 600;
  font-size: 30px;
  line-height: 34px;
  color: #343434;
  padding-bottom: 30px
}

.dir-quote__speech {
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #6C6C6C
}

.dir-quote__signature {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 36px 0 0;
  img{
    display: block;
    width: 232px;
  }
}

.dir-quote__left-block {
  width: 640px
}

.dir-quote__right-block {
  width: calc(100% - 640px);
  text-align: right;
  padding-left: 30px
}

.dir-quote__photo {
  transform: translateY(-10px);
  max-width: 100%;
  height: auto;
}

@media(max-width:1300px) {
  .wrap__dir-quote {
    padding: 0 30px;
    height: 320px
  }

  .dir-quote__name {
    font-size: 26px;
    line-height: 30px;
    padding-bottom: 20px
  }

  .dir-quote__speech {
    font-size: 15px;
    line-height: 28px
  }

  .dir-quote__signature {
    font: 28px/36px 'Marck Script', cursive
  }
}

@media(max-width:1100px) {
  .wrap__dir-quote {
    padding: 0 20px
  }

  .dir-quote__name {
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 15px
  }

  .dir-quote__speech {
    font-size: 14px;
    line-height: 26px
  }

  .dir-quote__signature {
    font: 26px/32px 'Marck Script', cursive
  }

  .dir-quote__left-block {
    width: 540px
  }

  .dir-quote__right-block {
    width: calc(100% - 540px);
    padding-left: 20px
  }
}

@media(max-width:991px) {
  .wrap__dir-quote {
    padding: 0 15px;
    height: 300px;
    background-size: 100px auto
  }

  .dir-quote__name {
    font-size: 22px;
    line-height: 26px
  }

  .dir-quote__speech {
    font-size: 13px;
    line-height: 24px
  }

  .dir-quote__signature {
    font: 24px/28px 'Marck Script', cursive
  }

  .dir-quote__left-block {
    width: 370px
  }

  .dir-quote__right-block {
    width: calc(100% - 370px)
  }
}

@media(max-width:767px) {
  .wrap__dir-quote {
    padding: 30px 15px;
    height: auto
  }

  .dir-quote__name {
    font-size: 18px;
    line-height: 34px
  }

  .dir-quote__speech {
    font-size: 12px;
    line-height: 180%
  }

  .dir-quote__left-block {
    width: 300px
  }

  .dir-quote__right-block {
    width: calc(100% - 300px)
  }
}

@media(max-width:620px) {
  .wrap__dir-quote {
    padding: 0 0 35px;
    height: auto
  }

  .dir-quote__name {
    padding-bottom: 10px
  }

  .dir-quote__signature {
    padding-top: 10px
  }

  .dir-quote__left-block {
    width: 100%;
    order: 2;
    padding: 0 15px
  }

  .dir-quote__right-block {
    width: 100%;
    order: 1;
    padding: 0 10px
  }
}

/*** Карта ***/
#map {
  height: 750px;
  border-radius: 20px;
  border: 1px solid #E9E9E9;
  position: relative;
  overflow: hidden
}

#map .ymaps-2-1-79-copyrights-pane,
#map .ymaps-2-1-79-traffic,
#map .ymaps-2-1-79-traffic,
#map .ymaps-2-1-79-searchbox__normal-layout {
  display: none
}

#map .ymaps-2-1-79-controls__control {
  inset: 110px 10px auto auto !important
}

.map-farm__info {
  transition: all 0.3s ease 0s;
  z-index: 2;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  overflow: visible;
  border-radius: 20px;
  position: absolute;
  top: 20px;
  bottom: calc(100% - 98px);
  left: 20px;
  width: 435px;
  display: flex;
  flex-direction: column;
  padding: 0 10px 15px;
  &.active{
    bottom: 20px;
    overflow: hidden;
  }
}

.map-farm__info-title {
  position: relative;
  padding: 15px 25px;
  margin: 0 -10px;
  border-radius: 20px;
  font: 500 14px/24px "Montserrat";
  color: #343434;
  background: #EEF9F1;
  cursor: pointer;
  z-index: 1;
  &:before{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: #EEF9F1;
    content: "";
    z-index: 1;
  }
  span{
    display: block;
    &.text{
      position: relative;
      z-index: 2;
    }
    &.btn{
      position: absolute;
      left: 50%;
      bottom: -20px;
      width: 40px;
      height: 40px;
      margin: 0 0 0 -20px;
      border-radius: 50%;
      background: #eef9f1;
      box-shadow: 0px 0px 25px rgba(0, 0, 0, .25);
      cursor: pointer;
      transition: all .35s ease;
      &:after{
        position: absolute;
        left: 50%;
        bottom: 13px;
        display: block;
        width: 8px;
        height: 8px;
        margin: 0 0 0 -4px;
        border: 0 solid $text;
        border-width: 0 1px 1px 0;
        transform: rotate(45deg);
        transition: all .35s ease;
        content: "";
      }
    }
  }
  &.active{
    border-radius: 0;
    span.btn{
      box-shadow: 0px 0px 0 rgba(0, 0, 0, 0);
      &:after{
        bottom: 8px;
        transform: rotate(-135deg);
      }
    }
  }
}

.map-farm__info-block .editions__block {
  width: 33.33%
}

.map-farm__info-list {
  padding: 0 15px
}

.map-farm__info-block {
  border-bottom: 1px solid #EFEFEF;
  margin-bottom: 25px;
  padding-bottom: 10px
}

.map-farm__info-block:last-child {
  border: none;
  padding-bottom: 0;
  margin-bottom: 0
}

.map-farm__info-cover {
  position: relative;
  //margin-top: -220px;
  opacity: 0;
  display: none;
  visibility: hidden;
  //transition: all 0.3s;

  @media (max-width: 767px) and (min-width: 575px) {
    //margin-top: -180px;
  }

  @media (max-width: 520px) {
    margin-top: -59%;
  }

}

.map-farm__info-cover-link {
  display: block
}

.map-farm__info-cover-link img {
  width: 100%;
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 20px
}

.map-farm__info-block-title {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #343434;
  max-width: 300px;
  display: flex;
  height: 50px;
  align-items: center;
  margin: 20px 0 10px;
}

.map-farm__info-block-title:hover {
  color: #13A538
}

.map-farm__info-bottom {
  display: flex;
  justify-content: space-between;
  
  @media (max-width: 520px) {
    flex-direction: column;
  }
  
}
.map-farm__info-place,
.map-farm__info-time {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #A0A0A0;
}
.map-farm__info-time{
  max-width: 70px;
  min-width: 70px;
  margin: 0 0 0 20px;

  @media (max-width: 520px) {
    margin-left: 0;
    margin-top: 10px;
    max-width: 100%;
  }

}
.map-farm__filterbox{
  position: relative;
  height: calc(100% - 82px);
  overflow: hidden;
  .map-scroll{
    height: calc(100% - 128px);
  }
}
.map-farm__filter {
  padding: 15px 15px 20px;
}
.map-farm__filter-title {
  font: 500 14px/17px "Montserrat";
  color: #A0A0A0;
  margin-bottom: 15px
}

.map-scroll::-webkit-scrollbar-thumb {
  background-color: #80CE94 !important;
}

.map-scroll::-webkit-scrollbar-track {
  background-color: #EFEFEF !important;
}

.map-farm__filter-select select {
  border-radius: 6px;
  color: rgba(52, 52, 52, 1);
  height: 60px;
  font: 500 16px/30px Montserrat;
  padding: 0 25px;
  background: #EEF9F1;
  border: 1px solid #EEF9F1;
  width: 100%;
  box-shadow: none !important;
  outline: none !important;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #EEF9F1 url(/src/assets/img/icon-select.svg) no-repeat 97% center
}

.map-farm__filter-select select::-ms-expand {
  display: none
}

.map-farm__filter-select select:focus {
  border-color: #13A538
}

@media(min-width:576px) {
  .map-scroll .swiper-scrollbar-lock {
    display: block !important
  }

  .map-scroll::-webkit-scrollbar {
    display: block !important
  }

  .map-farm__mobile-btn {
    display: none
  }
}

@media(max-width:1100px) {
  #map {
    height: 650px
  }

  .map-farm__info {
    top: 15px;
    bottom: calc(100% - 94px);
    left: 15px;
    width: 370px;
    &.active{
      bottom: 15px;
    }
  }

  .map-farm__filterbox{
    .map-scroll{
      height: calc(100% - 114px);
      //position: relative;
    }
  }

  .map-farm__filter-title {
    font-size: 13px;
    line-height: 15px
  }

  .map-farm__info-block-title {
    font-size: 16px;
    line-height: 22px;
    margin: 15px 0 5px;
  }

  .map-farm__info-place,
  .map-farm__info-time {
    font-size: 12px;
    line-height: 24px;
  }

  .map-farm__filter-select select {
    padding: 0 20px;
    font-size: 14px;
    height: 50px
  }
}

@media(max-width:991px) {
  .map-farm__filter-title {
    font-size: 12px;
    line-height: 14px;
  }

  .map-farm__info-block-title {
    font-size: 16px;
    line-height: 22px;
    margin: 15px 0 5px;
  }

  .map-farm__info-place,
  .map-farm__info-time {
    font-size: 12px;
    line-height: 24px;
  }
}

@media(max-width:767px) {
  #map {
    height: 550px
  }

  .map-farm__info {
    top: 10px;
    bottom: calc(100% - 118px);
    left: 10px;
    width: 300px;
    &.active{
      bottom: 10px;
    }
  }
  .map-farm__filterbox{
    .map-scroll{
      height: calc(100% - 100px);
    }
  }
  .map-farm__filter {
    padding: 10px 5px 15px
  }

  .map-farm__info-title {
    padding: 15px 10px;
    margin: 0 -5px;
    font: 500 13px/20px "Montserrat"
  }

  .map-farm__filter-title {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px
  }

  .map-farm__info-block-title {
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0 5px;
  }

  .map-farm__info {
    padding: 0px 5px 10px
  }

  .map-farm__info-list {
    padding: 0 5px
  }
}

@media(max-width:575px) {
  #map {
    height: 500px;
    border: none
  }

  #map .ymaps-2-1-79-inner-panes,
  #map .ymaps-2-1-79-map,
  #map {
    border-radius: 0px !important
  }

  .map-farm__info {
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    width: auto;
    opacity: 0;
    visibility: hidden
  }

  .map-farm__info-title {
    display: none
  }

  .map-farm__filter {
    padding: 20px
  }

  .map-farm__info-block {
    margin-bottom: 10px
  }

  .map-farm__filter-title {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 20px
  }

  .map-farm__info-block-title {
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0 5px;
  }

  .map-farm__info {
    padding: 0px
  }

  .map-farm__info-list {
    padding: 0 20px
  }

  .map-farm__mobile-btn {
    position: relative;
    font: 500 14px/50px "Montserrat";
    color: #343434;
    background: #EEF9F1;
    padding: 0 20px;
    text-decoration: none
  }

  //.map-farm__mobile-btn::after{content:""; position:absolute; background:url(/src/assets/img/icon-cross-black.svg) no-repeat 0 0; width:24px; height:24px; right:20px; top:50%; transform:translateY(-50%)}
  .map-farm__button-open::after {
    display: none
  }

  .map-farm__button-open {
    position: absolute;
    background: #13A538;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    z-index: 1
  }

  .map-farm-open {
    opacity: 1;
    visibility: visible
  }

  .map-farm-open+.map-farm__button-open {
    display: none
  }
}

/*** Выпуски ***/
.all-edition-title {
  font: 700 30px/37px "Montserrat";
  color: #343434;
  margin-bottom: 40px
}

.editions__sorting-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #A0A0A0;
  padding-bottom: 10px
}
.editions__sorting {
  @media (max-width: 480px) {
    margin-bottom: 10px;
  }
}

.editions__sorting ul {
  margin: 0 -9px;
  display: flex;
  flex-wrap: wrap;
}

.editions__sorting ul li {
  margin: 0;
  padding: 9px;
  max-width: 310px
}

.editions__sorting ul li a {
  white-space: nowrap;
  text-decoration: none;
  background: rgba(19, 165, 56, 0.07);
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 44px;
  color: #343434;
  display: block;
  padding: 0 10px;
  text-align: center;
}

.editions__sorting ul li a:hover {
  box-shadow: 0 0 0 1px #13A538 inset
}

.editions__sorting ul li a.sorting-link-select {
  color: #fff;
  background: #13A538
}

.editions__sorting ul li a.sorting-link-select span {
  color: #fff
}

.editions__sorting ul li a span {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 44px;
  justify-content: center;
}

.editions__sorting ul li a span img {
  opacity: 0;
  margin-left: 5px
}

.editions__sorting ul li a.sorting-link-select span img {
  opacity: 1
}

.editions__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  padding: 30px 0;
  min-height: 425px
}

.editions__block {
  padding: 15px 10px;
  width: 33.33%;
  &:hover{
    .editions__info-time {
      color: $green!important;
    }
    .editions__title{
      color: $green!important;
    }
  }
}

.editions__cover {
  position: relative;
  transition: color .35s ease;
}

.editions__cover-link {
  display: block
}

.editions__cover img {
  width: 100%;
  display: block;
  max-width: 100%;
  max-height: 259px;
  height: auto;
  border-radius: 20px
}

.editions__title {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #343434 !important;
  max-width: 300px;
  display: flex;
  height: 50px;
  align-items: center;
  margin: 20px 0 10px;
  transition: color .35s ease;
}

.editions__title:hover {
  color: #13A538
}

.editions__info {
  display: flex;
  justify-content: space-between;
}
.editions__info-time {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #A0A0A0;
}
.editions__place,
.editions__time {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #A0A0A0;
}
.editions__time{
  max-width: 70px;
  min-width: 70px;
  margin: 0 0 0 20px;
}
.editions__more-button {
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
  display: block;
  margin-top: 15px;
  width: 100%;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  line-height: 70px;
  background: #13A538;
  color: white !important;
  transition: all .35s ease;
  &:hover{
    background: $yellow;
    color: $green!important;
  }
}

.editions__sorting-button {
  margin-top: 7px;
  text-decoration: none;
  background: #13A538;
  width: 100%;
  border-radius: 6px
}

.editions__sorting-button span {
  font: 500 13px/44px Montserrat;
  color: #FFFFFF
}

.editions__sorting-button svg {
  margin-left: 5px
}

.editions__tooltip {
  position: absolute;
  right: 0;
  top: 25px;
}

.editions__tooltip-link {
  display: block;
  padding-right: 15px
}

.editions__tooltip-link span {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  background: #fff url(../../assets/img/icon-edition-link.svg) no-repeat center center;
  display: block;
}

.editions__tooltip-text {
  padding: 15px;
  position: absolute;
  width: 300px;
  height: 100px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font: 500 13px/20px Montserrat;
  color: #343434;
  display: none;
  top: 0;
  left: 100%;
  transform: translateX(-5px);
  z-index: 1;
}

.editions__tooltip-text a {
  font-size: 14px;
  line-height: 26px;
  color: #13A538 !important;
  display: block;
  margin-top: 5px
}

.editions__tooltip:hover .editions__tooltip-text {
  display: block
}

@media(min-width:576px) {
  .editions__sorting-button {
    display: none
  }

  .editions__sorting ul li {
    flex: 1 1 auto
  }
}

@media(min-width:992px) {
  .editions__list .editions__block:nth-child(3n) .editions__tooltip {
    right: 15px
  }

  .editions__list .editions__block:nth-child(3n) .editions__tooltip-link {
    padding-left: 15px;
    padding-right: 0
  }

  .editions__list .editions__block:nth-child(3n) .editions__tooltip-text {
    left: auto;
    right: 100%;
    transform: translateX(5px)
  }
}

@media(max-width:1100px) {
  .all-edition-title {
    font: 700 26px/32px "Montserrat";
    margin-bottom: 30px
  }

  .editions__sorting-title {
    font-size: 13px;
    line-height: 15px
  }

  .editions__sorting ul {
    margin: 0 -5px
  }

  .editions__sorting ul li {
    padding: 5px;
    max-width: 260px
  }

  .editions__sorting ul li a {
    font-size: 13px;
    line-height: 40px
  }

  .editions__sorting ul li a span {
    font-size: 13px;
    line-height: 40px;
  }

  .editions__sorting ul li a span img {
    width: 8px;
    height: 8px
  }

  .editions__list {
    padding: 20px 0;
  }

  .editions__title {
    font-size: 16px;
    line-height: 22px;
    max-width: 100%;
    height: 45px;
    margin: 15px 0 5px;
  }

  .editions__place,
  .editions__time {
    font-size: 12px;
    line-height: 24px;
  }

  .editions__more-button {
    font-size: 18px;
    margin-top: 10px;
    line-height: 60px;
  }
}

@media(max-width:991px) {
  .all-edition-title {
    font: 700 24px/28px "Montserrat"
  }

  .editions__sorting-title {
    font-size: 12px;
    line-height: 14px;
  }

  .editions__sorting ul li a {
    font-size: 12px;
    line-height: 36px
  }

  .editions__sorting ul li a span {
    font-size: 12px;
    line-height: 36px
  }

  .editions__list {
    margin: 0 -10px;
    padding: 10px 0;
  }

  .editions__block {
    padding: 15px 10px;
    width: 50%
  }

  .editions__title {
    font-size: 16px;
    line-height: 22px;
    max-width: 100%;
    height: 45px;
    margin: 15px 0 5px;
  }

  .editions__place,
  .editions__time {
    font-size: 12px;
    line-height: 24px;
  }

  .editions__more-button {
    font-size: 16px;
    line-height: 50px;
  }

  .editions__list .editions__block:nth-child(2n) .editions__tooltip {
    right: 15px
  }

  .editions__list .editions__block:nth-child(2n) .editions__tooltip-link {
    padding-left: 15px;
    padding-right: 0
  }

  .editions__list .editions__block:nth-child(2n) .editions__tooltip-text {
    left: auto;
    right: 100%;
    transform: translateX(5px)
  }
}

@media(max-width:767px) {
  .all-edition-title {
    font: 700 22px/26px "Montserrat";
    margin-bottom: 20px
  }

  .editions__sorting-title {
    font-size: 14px;
    line-height: 16px
  }

  .editions__sorting ul {
    margin: 0 -7px
  }

  .editions__sorting ul li {
    padding: 7px;
    max-width: 280px
  }

  .editions__sorting ul li a {
    font-size: 13px;
    line-height: 44px
  }

  .editions__sorting ul li a span {
    font-size: 13px;
    line-height: 44px
  }

  .editions__title {
    font-size: 14px;
    line-height: 20px;
    max-width: 100%;
    height: 40px;
    margin: 10px 0 5px;
  }

  .editions__more-button {
    font-size: 14px;
    line-height: 46px;
  }

  .editions__tooltip {
    //display: none
  }
}

@media(max-width:575px) {
  .all-edition-title {
    font: 700 20px/24px "Montserrat"
  }

  .editions__sorting ul li {
    max-width: none
  }

  .editions__sorting ul li:nth-child(5)~li {
    display: none
  }

  .editions__sorting ul.sorting-open li {
    display: block !important
  }

  .editions__list {
    margin: 0;
    padding: 0 0 7px;
  }

  .editions__block {
    padding: 20px 0 5px;
    width: 100%;
    border-bottom: 1px solid #EFEFEF;
  }

  .editions__title {
    height: auto;
    margin: 15px 0 10px
  }

  .editions__more-button {
    font-size: 13px;
    line-height: 44px
  }

  .editions__place,
  .editions__time {
    line-height: 30px;
  }

  .sorting-button-open svg {
    transform: rotate(180deg);
    margin-top: 3px
  }

  .editions__sorting-button {
    display: flex;
    align-items: center;
    justify-content: center
  }
}

/*** Растяжка ***/
.wrap__farm-application {
  padding: 40px 20px;
  background: #F0F0F0 url(/src/assets/img/bg-caltoaction.png) no-repeat center left;
  font-weight: 600;
  font-size: 23px;
  line-height: 30px;
  color: #343434;
  text-align: center;
  border-radius: 20px
}

.farm-application__button {
  color: white !important;
  width: 100%;
  max-width: 340px;
  line-height: 70px;
  background: #13A538;
  border-radius: 10px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  display: block;
  text-decoration: none;
  margin: 40px auto 0
}

.farm-application__button:hover {
  background: #FFD400
}

@media(max-width:1100px) {
  .wrap__farm-application {
    font-size: 20px;
    line-height: 28px
  }

  .farm-application__button {
    font-size: 18px;
    line-height: 60px;
  }
}

@media(max-width:991px) {
  .wrap__farm-application {
    font-size: 18px
  }

  .farm-application__button {
    font-size: 16px;
    line-height: 50px;
  }
}

@media(max-width:767px) {
  .wrap__farm-application {
    font-size: 16px;
    line-height: 26px
  }

  .farm-application__button {
    font-size: 14px;
    line-height: 46px;
  }

  .farm-application__button {
    max-width: 320px
  }
}

@media(max-width:575px) {
  .wrap__farm-application {
    border-radius: 0px;
    font-size: 14px;
    line-height: 24px;
    background: #F0F0F0 url(/src/assets/img/bg-caltoaction-mobile.png) no-repeat center left / cover
  }

  .farm-application__button {
    font-size: 13px;
    line-height: 44px
  }
}

/*** Анкета ***/
.wrapper__questionary {
  max-width: 940px;
  margin: 0 auto
}

.questionary__title {
  margin-bottom: 70px;
}

.questionary__title,
.questionary__title span span {
  font: 700 30px/42px "Montserrat";
  color: #343434;
  z-index: 2
}

.questionary__title>span,
.questionary__title span span {
  position: relative
}

.questionary__title>span::before {
  position: absolute;
  height: 48px;
  width: 214px;
  content: "";
  background: #9EE0B7;
  transform: rotate(-3deg) translate(-20px, -6px);
}

.questionary__field-group {
  margin-bottom: 45px;
  position: relative
}

.field-group__label {
  color: #343434;
  font: 600 20px/30px 'Montserrat';
  margin-bottom: 15px;
  display: block;
}

.field-group__input,
.field-group__textarea,
.field-group__select {
  border-radius: 6px;
  color: rgba(52, 52, 52, 1);
  height: 60px;
  font: 500 16px/30px Montserrat;
  padding: 0;
  background: #EEF9F1;
  border: 1px solid #EEF9F1;
  width: 100%;
  box-shadow: none !important;
  outline: none !important
}

.field-group__select {
  padding-left: 25px;
  padding-right: 25px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #EEF9F1 url(/src/assets/img/icon-select.svg) no-repeat 97% center
}

.field-group__select::-ms-expand {
  display: none
}

.field-group__textarea {
  overflow: hidden;
  height: 175px;
  resize: none;
  padding-top: 15px
}

.field-group__input:focus,
.field-group__textarea:focus,
.field-group__select:focus {
  border-color: #13A538
}

.succsess-field {
  border-color: #0DB14B
}

.error-field {
  border-color: #FF1F00;
  background: #F9EEEE
}

.error-info {
  position: absolute;
  font: 500 12px/30px "Montserrat";
  color: #FF1F00;
  bottom: -30px;
  left: 25px
}

.field-group__label-small {
  font: 500 14px/30px 'Montserrat';
  color: #343434;
  display: block;
  margin-bottom: 5px
}

.questionary__field-group-two-field {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px
}

.questionary__field-group-two-field .field-group__label {
  width: 100%
}

.questionary__field-group-two-field .questionary__field-group {
  width: 50%;
  padding: 0 10px
}

.padding-label {
  padding-left: 10px;
  padding-right: 10px
}

.field-group__warning-info {
  font: 500 14px/30px "Montserrat";
  margin: -15px 0 15px;
  color: #A0A0A0
}

.questionary__button {
  width: 100%;
  height: 70px;
  background: #4B4635 url(../../assets/img/button.png) no-repeat center center;
  border-radius: 10px;
  color: #FFFFFF;
  font: 500 18px "Montserrat";
  margin-top: 100px;
  display: block
}

.questionary__button:hover {
  background-color: #0DB14B
}

.linkbox{
  text-align: center;
}

.questionary__agreement {
  font: 16px/30px "Montserrat";
  text-align: center;
  color: rgba(52, 52, 52, 0.5)!important;
  text-decoration: none;
  margin-top: 10px;
  cursor: pointer;
}

@media(max-width:1100px) {
  .questionary__title {
    margin-bottom: 60px;
  }

  .questionary__title,
  .questionary__title span span {
    font: 700 26px/38px "Montserrat";
  }

  .questionary__title>span::before {
    height: 44px;
    width: 170px;
    transform: rotate(-3deg) translate(-10px, -5px);
  }

  .questionary__field-group {
    margin-bottom: 40px;
  }

  .field-group__label {
    font: 600 18px/30px 'Montserrat';
  }

  .field-group__input,
  .field-group__textarea,
  .field-group__select {
    font: 500 14px/26px Montserrat;
    padding: 0;
  }

  .field-group__select {
    padding-left: 25px;
    padding-right: 25px;
  }
  .field-group__textarea {
    padding-top: 15px;
  }

  .field-group__warning-info {
    font: 500 14px/24px "Montserrat";
    margin: -10px 0 15px;
  }

  .questionary__button {
    margin-top: 80px;
  }

  .questionary__agreement {
    font: 14px/28px "Montserrat";
    margin-top: 10px;
  }

  .error-info {
    left: 20px
  }
}

@media(max-width:991px) {
  .questionary__title {
    margin-bottom: 40px;
  }

  .questionary__title,
  .questionary__title span span {
    font: 700 22px/32px "Montserrat";
  }

  .questionary__title>span::before {
    height: 40px;
    width: 155px;
    transform: rotate(-3deg) translate(-15px, -7px);
  }

  .field-group__label {
    font: 600 16px/30px 'Montserrat';
  }

  .questionary__button {
    margin-top: 60px;
  }
}

@media(max-width:767px) {

  .questionary__title,
  .questionary__title span span {
    font: 700 18px/24px "Montserrat";
  }

  .questionary__title>span::before {
    height: 25px;
    width: 115px;
    transform: rotate(-3deg) translate(-7px, 0px)
  }

  .questionary__button {
    margin-top: 40px;
  }

  .questionary__agreement {
    font: 12px/20px "Montserrat";
    margin-top: 20px;
  }
}

@media(max-width:575px) {
  .questionary__button {
    margin-top: 0;
  }

  .questionary__field-group-two-field .questionary__field-group {
    width: 100%
  }

  .field-group__textarea {
    height: 200px;
  }

  .error-info {
    font: 500 10px/20px "Montserrat";
    bottom: -20px
  }

  .questionary__button {
    background-image: url(/src/assets/img/button-mobile.png);
    max-width: 320px;
    margin-left: auto;
    margin-right: auto
  }
}

/*** Заявка успешно отправлена ***/
.modal-success {
  width: 100%;
  max-width: 460px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 35px 20px;
  margin: 50px auto
}

.modal-success__title {
  font: 600 20px/30px "Montserrat";
  text-align: center;
  color: #343434;
}

.modal-success img {
  margin: 30px auto 0;
  display: block
}

@media(max-width:500px) {
  .modal-success {
    width: 90%;
    padding: 25px 15px;
    margin: 50px auto
  }

  .modal-success__title {
    font: 600 18px/24px "Montserrat"
  }

  .modal-success img {
    margin: 15px auto 0;
    display: block
  }
}

/*** Страница с фермой ***/
/*************************/
/*** Заголовок ***/
.farm-width {
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 1100px) {
    padding-right: 0!important;
  }
  @media (max-width: 480px) {
    margin-bottom: 60px!important;
    &.farm-heading-flex{
      margin-bottom: 45px!important;
    }
  }
}

.wrap__farm-heading {
  display: flex;
  align-items: flex-end;
  justify-content: space-between
}
.farm-heading__left{
  padding: 0 0 40px;
  @media (max-width: 480px) {
    padding: 0 0 20px;
  }
}
.farm-heading__title {
  font: 700 30px/37px "Montserrat";
  color: #343434;
}

.farm-heading__title img {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px
}

a.farm-heading__address {
  display: flex;
  margin-top: 10px;
  font: 500 16px/30px "Montserrat";
  color: #13A538 !important;
  @media(max-width:767px) {
    margin-top: 20px;
  }
}

.farm-heading__address img {
  display: inline-block;
  vertical-align: -5px;
  margin-right: 5px;
}

@media(min-width:768px) {
  .farm-heading-mobile {
    display: none
  }

  .farm-heading__title {
    display: flex;
  }

  .farm-heading-dextop .editions__tooltip {
    position: relative;
    right: -13px;
    top: -1px;
  }

  .farm-heading-dextop .editions__tooltip .editions__tooltip-link span {
    box-shadow: none;
  }

}

@media(max-width:1100px) {
  .farm-heading__title {
    font: 700 26px/32px "Montserrat"
  }

  .farm-heading__title img {
    margin-left: 5px
  }

  .farm-heading__address {
    margin-top: 5px;
    font: 500 14px/26px "Montserrat"
  }
}

@media(max-width:991px) {
  .farm-heading__title {
    font: 700 22px/26px "Montserrat"
  }
}

@media(max-width:767px) {
  .wrap__farm-heading.farm-heading-mobile {
    order: 0;
  }

  .wrap__farm-heading {
    display: block;
    order: 3
  }

  .wrap__farm-video {
    order: 2
  }

  .farm-heading-flex {
    display: flex;
    flex-direction: column
  }

  .farm-heading-dextop .farm-heading__title {
    display: none
  }

  .farm-heading__title {
    font: 700 20px/24px "Montserrat"
  }

  .farm-heading__farm-info {
    display: flex;
    align-items: center;
    width: 250px;
    margin-top: 15px
  }

  .farm-info__text a {
    font-weight: 500;
    font-stretch: normal;
    font-size: 10px;
    line-height: 0px;
    font-family: Montserrat;
    text-decoration: 0;
    color: #939393 !important;
  }

  .farm-info__text {
    font-weight: 500;
    font-stretch: normal;
    font-size: 10px;
    line-height: 14px;
    font-family: Montserrat;
    color: #939393 !important;
  }

  .farm-heading__farm-info img {
    margin-right: 15px
  }

  .farm-heading__address {
    margin-top: 20px;
    font: 500 12px/24px "Montserrat";
    margin-bottom: 10px
  }

  .farm-heading__address img {
    width: 22px;
    height: 22px;
    margin-right: 11px;
    margin-left: -1px;
    margin-top: 6px;
  }
}

/*** Поделиться ***/
.ya-share2__icon.ya-share2__icon_more::after {
  content: "Поделиться фермой";
  font: 500 16px/24px "Montserrat";
  color: #13A538;
  text-decoration: underline
}

.ya-share2__item_more.ya-share2__item_has-pretty-view .ya-share2__icon_more {
  background: url(/src/assets/img/icon-upload.svg) no-repeat left center !important;
  width: 100% !important;
  padding: 0 0 0 30px
}

.ya-share2__container_size_m .ya-share2__item_more.ya-share2__item_has-pretty-view .ya-share2__link_more.ya-share2__link_more-button-type_short {
  padding: 0 !important;
  background: none !important;
}

.ya-share2__item_more.ya-share2__item_has-pretty-view .ya-share2__link_more,
.ya-share2__container_shape_round .ya-share2__badge {
  border-radius: 0px !important
}

.ya-share2__popup .ya-share2__item .ya-share2__badge,
.ya-share2__popup .ya-share2__item .ya-share2__mobile-popup-badge {
  display: none !important
}

.ya-share2__popup .ya-share2__title {
  margin: 0 !important
}

.ya-share2__title {
  font: 14px/35px "Montserrat";
  color: #000000;
}

.ya-share2__container_size_m .ya-share2__popup:not(.ya-share2__popup_mobile) .ya-share2__item,
.ya-share2__container_size_m.ya-share2__container_as-popup .ya-share2__item {
  padding: 0 15px !important
}

.ya-share2__container_size_m .ya-share2__title {
  line-height: 35px !important
}

.ya-share2__container_size_m .ya-share2__popup:not(.ya-share2__popup_mobile) {
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15) !important;
  border-radius: 10px !important;
}

.ya-share2__container_size_m.ya-share2__container_alone .ya-share2__popup_direction_bottom::after,
.ya-share2__container_size_m .ya-share2__item_more.ya-share2__item_has-pretty-view .ya-share2__popup_direction_bottom::after {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  left: 25px;
  top: -10px;
}

.ya-share2__container_size_m .ya-share2__popup:not(.ya-share2__popup_mobile)> :last-child:not(:empty):not(.ya-share2__copied-tooltip),
.ya-share2__container_size_m.ya-share2__container_as-popup> :last-child:not(:empty):not(.ya-share2__copied-tooltip) {
  background: #fff;
  position: relative;
  z-index: 1;
  border-radius: 10px;
}

@media(max-width:1100px) {
  .ya-share2__icon.ya-share2__icon_more::after {
    font: 500 14px/22px "Montserrat"
  }

  .ya-share2__container_mobile.ya-share2__container_size_m .ya-share2__icon {
    height: 22px !important
  }
}

@media(max-width:767px) {
  .ya-share2__icon.ya-share2__icon_more::after {
    font: 500 12px/22px "Montserrat"
  }

  .ya-share2__item_more.ya-share2__item_has-pretty-view .ya-share2__icon_more {
    padding: 0 0 0 25px;
    background-size: 16px auto !important;
  }
}

/*** Видео ***/
.farm-video__block {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  border-radius: 20px;
  margin-top: 45px
}

.farm-video__block iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}

@media(max-width:1100px) {
  .farm-video__block {
    margin-top: 35px
  }
}

@media(max-width:991px) {
  .farm-video__block {
    margin-top: 30px
  }
}

@media(max-width:767px) {
  .farm-video__block {
    margin-top: 20px
  }
}

/*** Теги ***/
.wrap__farm-tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -30px;
  position: relative;
  @media(max-width:480px) {
    margin: 0;
    .farm-tags__left{
      padding: 0;
      &.hidden{
        overflow: hidden;
        max-height: 300px;
        &.active{
          max-height: none;
        }
      }
    }
  }
}

.farm-tags__left,
.farm-tags__right {
  height: 100%;
  padding: 0 30px;
  width: 100%
}

.farm-tags__title {
  font: 600 20px/30px "Montserrat";
  color: #343434;
  margin-bottom: 30px
}

.farm-tags__list {
  display: flex;
  margin: -10px;
  flex-wrap: wrap
}

.farm-tags__list li {
  padding: 10px
}

.farm-tags__list li a {
  padding: 0 37px;
  text-decoration: none;
  font: 500 18px/54px "Montserrat";
  display: block;
  white-space: nowrap;
  color: #343434;
  background: rgba(19, 165, 56, 0.07);
  border-radius: 6px;
}

.farm-tags__list li span {
  cursor: pointer;
  padding: 0 37px;
  text-decoration: none;
  font: 500 18px/54px "Montserrat";
  display: block;
  white-space: nowrap;
  color: #343434;
  background: rgba(19, 165, 56, 0.07);
  border-radius: 6px;

  @media (max-width: 768px) {
    padding: 0 12px;
  }

}

//@media(min-width:768px){
//  .wrap__farm-tags::after{top:0; bottom:0; left:50%; transform:translateX(-50%); content:""; background:#EAEAEA; position:absolute; width:1px}
//}
@media(max-width:1100px) {
  .farm-tags__title {
    font: 600 18px/26px "Montserrat";
    margin-bottom: 20px;
  }

  .farm-tags__list {
    margin: -8px;
  }

  .farm-tags__list li {
    padding: 8px;
  }

  .farm-tags__list li a {
    padding: 0 23px;
    font: 500 16px/50px "Montserrat";
  }
}

@media(max-width:991px) {
  .farm-tags__title {
    font: 600 16px/24px "Montserrat";
    margin-bottom: 15px;
  }

  .farm-tags__list {
    margin: -7px;
  }

  .farm-tags__list li {
    padding: 7px;
  }

  .farm-tags__list li a {
    padding: 0 27px;
    font: 500 13px/44px "Montserrat";
  }
}

@media(max-width:767px) {

  .farm-tags__left,
  .farm-tags__right {
    width: 100%
  }

  .farm-tags__right {
    margin-top: 40px
  }

  .farm-tags__title {
    font: 600 18px/22px "Montserrat";
    margin-bottom: 20px;
  }
}

@media(max-width:640px) {
  .farm-tags__list li a {
    padding: 0 25px
  }
}

/*** О ферме ***/
.wrap__farm-about,
.wrap__farm-contact,
.farm-about__story,
.address__social,
.farm-photos__heading,
.farm-photos__list-photos,
.slider-edition__heading {
  display: flex;
  flex-wrap: wrap
}

.farm-about__title {
  margin-bottom: 40px;
  background: url(/src/assets/img/icon-title.svg) no-repeat left top;
  padding-left: 20px;
  transform: translateX(-20px);
  &.with_icon{
    position: relative;
    svg{
      position: absolute;
      top: 0;
      left: 0;
    }
    span{
      position: relative;
      font: 600 24px/30px "Montserrat";
      color: #343434;
    }
  }
}

.farm-heading__share{
  position: relative;
  padding: 0 0 40px;
  @media (max-width: 767px){
    margin: -30px 0 0;
  }
  @media (max-width: 480px){
    margin: -10px 0 0;
    padding: 0 0 20px;
  }
  button.toggle{
    display: flex;
    align-items: center;
    svg{
      display: block;
      margin: 0 12px 0 0;
    }
    span{
      display: block;
      padding: 0 0 2px;
      border-bottom: 1px solid #cfedd7;
      font: 500 16px/16px "Montserrat";
      color: #13A538;
      white-space: nowrap;
      cursor: pointer;
      transition: border-color .35s ease, color .35s ease;
      &:hover{
        border-color: #343434;
        color: #343434;
      }
    }
  }
  .list{
    position: absolute;
    top: 40px;
    right: -60px;
    padding: 10px 0;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .15);
    opacity: 0;
    visibility: hidden;
    z-index: 100;
    @media (max-width: 1100px){
      right: 0;
    }
    @media (max-width: 767px){
      left: 0;
      right: auto;
    }
    &:before,
    &:after{
      position: absolute;
      display: block;
      background: #ffffff;
      content: "";
    }
    &:before{
      top: -8px;
      left: 30px;
      width: 28px;
      height: 28px;
      transform: rotate(45deg);
      box-shadow: 0px 0px 15px rgba(0, 0, 0, .15);
    }
    &:after{
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
    &.open{
      opacity: 1;
      visibility: visible;
    }
    a, button{
      position: relative;
      display: block;
      height: auto;
      padding: 10px 18px;
      background: #FFFFFF;
      font: 400 14px/14px "Montserrat";
      color: #000000;
      text-decoration: none;
      white-space: nowrap;
      cursor: pointer;
      transition: background .35s ease;
      z-index: 1;
      &:hover{
        background: rgba(196, 196, 196, 0.3);
      }
      span{
        font: 400 14px/14px "Montserrat";
      }
    }
  }
}

.farm-about__text {
  font: 16px/30px "Montserrat";
  color: #343434;

  &--wrapper {
    @media (max-width: 1023px) {
      margin-bottom: 0 !important;
    }

  }

}

.hiddentext{
  max-height: 120px;
  overflow: hidden;
  @media screen and (max-width: 1100px) {
    max-height: 100px;
  }
  &:not(.hidden){
    margin-bottom: 80px;
  }
  &.active{
    max-height: none!important;
  }
}

.farm-about__text p {
  font: 16px/30px "Montserrat";
  color: #343434;
  margin: 0
}

button.moretext{
  display: block;
  margin-top: 30px;
  margin-bottom: 80px;
  border-bottom: 1px solid rgba(160, 160, 160, .2);
  font: 500 14px/16px "Montserrat";
  color: #A0A0A0 !important;
  transition: border-color .35s ease, color .35s ease;
  &:hover{
    border-color: $green!important;
    color: $green!important;
  }
  &.mb{
    display: none;
    margin-bottom: 0;
    @media screen and (max-width: 480px) {
      display: block;
    }
  }
}

.farm-about__rigth {
  width: 340px
}

.farm-about__left {
  width: calc(100% - 340px);
  padding-right: 135px;
}

.farm-about__story-title {
  width: 100%;
  font: 600 20px/30px "Montserrat";
  color: #343434;
  margin-bottom: 30px
}

.farm-about__story-person {
  width: 160px
}

.farm-about__story-text {
  width: calc(100% - 160px);
  padding-left: 80px
}

.story-person__photo {
  padding-bottom: 15px
}

.story-person__photo img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  object-fit: cover;
  display: block
}

.story-person__name {
  font: 700 16px/24px "Montserrat";
  color: #343434;
}

.story-person__activity {
  font: 500 16px/24px "Montserrat";
  color: #A0A0A0;
}

.story-text__quote {
  overflow: hidden;
  font: 16px/30px "Montserrat";
  color: #343434;
}



.story-text__quote p {
  font: 16px/30px "Montserrat";
  color: #343434;
  margin: 0
}

.story-text__quote h4 {
  font: 700 16px/30px "Montserrat";
  color: #343434;
  margin: 0
}

.readall-hide {
  height: 155px;
  position: relative
}

.readall-hide::after {
  position: absolute;
  width: 50%;
  height: 35px;
  content: "";
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1);
  bottom: 0;
  right: 0;
}

.readall-button {
  margin-top: 30px;
  font: 500 14px/26px 'Montserrat';
  color: #A0A0A0;
  text-decoration: underline
}

.readall-button:hover {
  color: #13A538
}

.product__title {
  font: 600 20px/30px "Montserrat";
  color: #343434;
  margin-bottom: 45px
}

.product__slide-title {
  padding: 20px 0 10px;
  font: 700 16px/30px "Montserrat";
  color: #000000;
}

.product__photo img {
  display: block;
  width: 100%;
  border-radius: 10px;
  height: 340px;
  object-fit: cover
}

.product__slide-button a {
  font: 600 18px/70px "Montserrat";
  width: 100%;
  display: block;
  height: 70px;
  text-decoration: none;
  background: #13A538;
  border-radius: 10px;
  text-align: center;
  color: #fff !important;
}

.product__slider .slick-dots {
  display: flex;
  margin: 45px -6px 0;
}

.product__slider .slick-dots li {
  padding: 0 6px;
  flex: 1 1 auto;
  height: 5px;
}

.product__slider .slick-dots li button {
  text-indent: -9999px;
  height: 5px;
  background: #E2E2E2;
  border-radius: 6px;
  border: none;
  width: 100%;
}

.product__slider .slick-dots li.slick-active button {
  background: #13A538;
}

@media(max-width:1100px) {
  .farm-about__title {
    font: 600 22px/26px "Montserrat";
    margin-bottom: 30px;
    background-size: 25px auto;
    padding-left: 15px;
    transform: translateX(-15px);
  }

  .farm-about__text {
    font: 14px/26px "Montserrat";
  }

  .farm-about__text p {
    font: 14px/26px "Montserrat";
  }

  .farm-about__left {
    padding-right: 70px;
  }

  .farm-about__story-title {
    font: 600 18px/26px "Montserrat";
    margin-bottom: 25px;
  }

  .farm-about__story-person {
    width: 150px
  }

  .farm-about__story-text {
    width: calc(100% - 150px);
    padding-left: 30px
  }

  .story-person__photo {
    padding-bottom: 10px;
  }

  .story-person__photo img {
    width: 85px;
    height: 85px;
  }

  .story-person__name {
    font: 700 14px/22px "Montserrat";
  }

  .story-person__activity {
    font: 500 14px/22px "Montserrat";
  }
  .story-text__quote,
  .story-text__quote p {
    font: 14px/24px "Montserrat";
  }

  .story-text__quote h4 {
    font: 700 14px/24px "Montserrat"
  }

  .readall-hide {
    height: 150px
  }

  .readall-button {
    margin-top: 15px
  }

  .product__title {
    font: 500 18px/26px "Montserrat"
  }

  .product__slide-button a {
    font: 600 16px/60px "Montserrat";
    height: 60px;
  }
}

@media(max-width:991px) {
  .farm-about__title {
    font: 600 20px/24px "Montserrat";
    margin-bottom: 20px;
  }

  .farm-about__text {
    padding-bottom: 50px;
  }

  .farm-about__rigth {
    width: 320px
  }

  .farm-about__left {
    width: calc(100% - 320px);
    padding-right: 30px;
  }

  .readall-hide {
    height: 125px
  }

  .product__photo img {
    height: 320px
  }

  .product__slide-button a {
    font: 600 14px/50px "Montserrat";
    height: 50px;
  }
}

@media(max-width:860px) {
  .farm-about__text {
    padding-bottom: 0;
  }
  button.moretext {
    margin-bottom: 40px;
  }

  .farm-about__rigth,
  .farm-about__left {
    width: 100%;
    padding: 0
  }

  .farm-about__rigth {
    padding-top: 40px
  }

  .readall-hide {
    height: 100px
  }

  .product__title {
    margin-bottom: 20px;
    font: 600 18px/22px "Montserrat"
  }

  .product__photo img {
    height: 27vw
  }

  .product__slide-button a {
    font: 600 13px/44px "Montserrat";
    height: 44px;
  }

  .product__slider {
    margin: 0 -10px
  }

  .product__slider .slick-slide {
    padding: 0 10px
  }

  .product__slide-title {
    padding: 15px 0;
    font: 700 14px/22px "Montserrat";
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media(max-width:767px) {
  .farm-about__title {
    font: 600 18px/22px "Montserrat";
    margin-bottom: 15px;
  }
}

@media(max-width:640px) {
  .product__slider .slick-dots {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 40px
  }

  .product__photo img {
    height: 42vw
  }
}

@media(max-width:575px) {

  .farm-about__story-person,
  .farm-about__story-text {
    width: 100%;
    padding: 0
  }

  .farm-about__story-person {
    display: flex;
    align-items: center;
    padding-bottom: 20px
  }

  .story-person__info-wrp {
    padding-left: 20px
  }

  .story-person__photo {
    padding: 0
  }

  .readall-hide {
    height: 145px
  }
}

@media(max-width:480px) {
  .product__photo img {
    height: 87vw
  }
}

/*** Контакты фермы ***/
.farm-contact__title {
  font: 600 23px/30px "Montserrat";
  color: #343434;
  width: 100%;
  margin-bottom: 35px
}

.farm-contact__map {
  overflow: hidden;
  width: 700px;
  height: 470px;
  border: 1px solid #CDCDCD;
  border-radius: 20px;
}

.farm-contact__address {
  width: calc(100% - 700px);
  padding-left: 145px
}

.address__title {
  font: 700 16px/30px "Montserrat";
  color: #343434;
}

.address__textб .address__text a {
  font: 500 16px/30px "Montserrat";
  color: #343434;
}

.address__text a {
  color: #13A538 !important;
}

.address__text a:hover {
  color: #343434;
  text-decoration: none
}

.address-person {
  color: #A0A0A0
}

.padding-contact {
  padding-bottom: 40px
}

.address__social {
  margin: 0 -15px
}

.address__social li {
  padding: 0 15px
}

.address__social li a {
  text-align: center;
  text-decoration: none;
  font: 500 13px/16px "Montserrat";
  color: #343434 !important;
  display: block
}

.address__social li a span {
  width: 47px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background: rgba(19, 165, 56, 0.07);
  margin: 0 auto 10px
}

.address__social li a:hover span {
  background: rgba(19, 165, 56, 1);
}

.address__social li a:hover path {
  fill: #fff
}

.address__social li a:hover {
  color: #13A538
}

@media(max-width:1240px) {
  .farm-contact__map {
    width: calc(100% - 380px);
    height: 400px;
  }

  .farm-contact__address {
    width: 380px;
    padding-left: 40px;
  }
}

@media(max-width:1110px) {
  .farm-contact__title {
    font: 600 22px/26px "Montserrat";
    margin-bottom: 30px;
  }

  .address__title {
    font: 700 14px/24px "Montserrat";
  }

  .address__text,
  .address__text a {
    font: 500 14px/24px "Montserrat";
  }

  .padding-contact {
    padding-bottom: 30px;
  }
}

@media(max-width:991px) {
  .farm-contact__map {
    height: 380px;
  }

  .farm-contact__title {
    font: 600 20px/24px "Montserrat";
    margin-bottom: 25px;
  }

  .padding-contact {
    padding-bottom: 20px;
  }
}

@media(max-width:860px) {

  .farm-contact__map,
  .farm-contact__address {
    width: 100%;
    padding: 0
  }

  .farm-contact__map {
    margin-bottom: 10px
  }

  .address__title {
    margin-top: 25px;
  }

  .padding-contact {
    padding: 0
  }

  .address__social {
    margin-top: 30px
  }

  .farm-contact__map {
    height: 300px;
  }
}

@media(max-width:767px) {
  .farm-contact__title {
    font: 600 18px/22px "Montserrat";
    margin-bottom: 20px;
  }
}

@media(max-width:575px) {
  .farm-contact__map {
    height: 65vw;
  }
}

/*** Фото посещения ***/
.farm-photos__heading,
.slider-edition__heading {
  align-items: center;
  margin-bottom: 40px;
}

.farm-photos__title,
.slider-edition__title {
  font: 600 23px/30px "Montserrat";
  color: #343434;
}

.farm-photos__instagram,
.slider-edition__more {
  font: 500 16px/30px "Montserrat";
  color: #343434;
  margin: 5px 0 0 60px;
}

.slider-edition__more {
  margin-left: 15px
}

.farm-photos__instagram a,
.slider-edition__more a {
  font: 500 16px/30px "Montserrat";
  color: #13A538 !important;
}

.farm-photos__list-photos {
  margin: -10px
}

.list-photos__photo-block {
  width: 33.33%;
  padding: 10px
}

.list-photos__photo-block a {
  display: block
}

.list-photos__photo-block img {
  display: block;
  width: 100%;
  height: 255px;
  object-fit: cover;
  border-radius: 10px
}

.photo-block__link-more a {
  color: #13A538;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border: 1px dashed #D0D0D0;
  border-radius: 10px;
}

.photo-block__link-more a span {
  color: #13A538;
}

.photo-block__link-more a:hover {
  border-color: #13A538;
  color: #343434;
  text-decoration: none
}

.photo-block__link-more a:hover span {
  color: #343434
}

@media(min-width:576px) {
  .slider-edition__heading {
    margin-bottom: 0 !important
  }
}

@media(max-width:1100px) {

  .farm-photos__heading,
  .slider-edition__heading {
    margin-bottom: 30px;
  }

  .farm-photos__title,
  .slider-edition__title {
    font: 600 22px/26px "Montserrat";
  }

  .farm-photos__instagram,
  .slider-edition__more {
    font: 500 14px/24px "Montserrat";
    margin: 5px 0 0 30px;
  }

  .farm-photos__instagram a,
  .slider-edition__more a {
    font: 500 14px/24px "Montserrat";
  }

  .list-photos__photo-block img {
    height: 210px;
  }
}

@media(max-width:767px) {
  .wrap__farm-photos {
    padding-top: 20px
  }

  .farm-photos__heading,
  .slider-edition__heading {
    margin-bottom: 20px;
  }

  .farm-photos__title,
  .slider-edition__title {
    font: 600 18px/22px "Montserrat";
  }

  .farm-photos__title,
  .farm-photos__instagram {
    width: 100%;
  }

  .farm-photos__instagram {
    width: 100%;
    margin: 5px 0 0 0;
  }

  .list-photos__photo-block {
    width: 50%
  }

  .list-photos__photo-block img {
    height: 30vw;
  }
}

@media(max-width:575px) {
  .wrap__farm-photos {
    padding-top: 20px
  }

  .list-photos__photo-block {
    width: 100%
  }

  .list-photos__photo-block img,
  .photo-block__link-more a {
    height: 60vw;
  }
}

/*** Другие фермы ***/
.wrapper__edition-swiper {
  position: relative;
  padding-top: 50px;
  padding-bottom: 20px;
}

.editions__list.swiper-wrapper {
  flex-wrap: nowrap
}

@media(min-width:576px) {
  .wrapper__edition-swiper::after {
    position: absolute;
    height: 1px;
    top: 0;
    content: "";
    width: 1420px;
    left: 50%;
    background: #C4C4C4;
    transform: translate(-50%)
  }

  .wrapper__edition-swiper::before {
    position: absolute;
    width: 270px;
    top: 50%;
    right: 3.65%;
    background: linear-gradient(270deg, #FFFFFF 20%, rgba(255, 255, 255, 0) 75%);
    z-index: 2;
    height: 270px;
    transform: translateY(-50%);
    margin-top: -14px;
  }
}

@media(max-width:1500px) {
  .wrapper__edition-swiper::after {
    width: 100%
  }
}

@media(max-width:1100px) {
  .wrapper__edition-swiper::before {
    margin-top: -30px
  }

  .wrapper__edition-swiper .swiper-scrollbar {
    height: 2px
  }
}

@media(max-width:991px) {
  .wrapper__edition-swiper::before {
    margin-top: -40px
  }
}

@media(max-width:820px) {
  .wrapper__edition-swiper::before {
    margin-top: 0;
    height: 175px
  }
}

@media(max-width:767px) {
  .wrapper__edition-swiper {
    padding-top: 30px
  }

  .wrapper__edition-swiper::before {
    height: 150px
  }
}

@media(max-width:575px) {
  .wrapper__edition-swiper {
    padding-top: 10px;
    padding-right: 0px !important
  }

  .edition-swiper .editions__list {
    margin: 0 -10px
  }

  .edition-swiper .editions__block {
    border: none;
    padding: 0 10px
  }
}

/*** Загрузка ***/
.download-block {
  position: relative;
  text-align: center;
  font: 600 14px/25px "Montserrat";
  color: #343434;
  padding-top: 90px;
  margin-top: 50px
}

.downloader-spin {
  position: absolute;
  margin: auto;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  box-shadow: 10px 10px rgb(255, 212, 0), -10px 10px rgb(255, 212, 0), -10px -10px rgba(255, 212, 0, 0.97), 10px -10px rgb(255, 212, 0);
  -o-box-shadow: 10px 10px rgb(255, 212, 0), -10px 10px rgb(255, 212, 0), -10px -10px rgba(255, 212, 0, 0.97), 10px -10px rgb(255, 212, 0);
  -ms-box-shadow: 10px 10px rgb(255, 212, 0), -10px 10px rgb(255, 212, 0), -10px -10px rgba(255, 212, 0, 0.97), 10px -10px rgb(255, 212, 0);
  -webkit-box-shadow: 10px 10px rgb(255, 212, 0), -10px 10px rgb(255, 212, 0), -10px -10px rgba(255, 212, 0, 0.97), 10px -10px rgb(255, 212, 0);
  -moz-box-shadow: 10px 10px rgb(255, 212, 0), -10px 10px rgb(255, 212, 0), -10px -10px rgba(255, 212, 0, 0.97), 10px -10px rgb(255, 212, 0);
  animation: downloader-spin ease infinite 3.4s;
  -o-animation: downloader-spin ease infinite 3.4s;
  -ms-animation: downloader-spin ease infinite 3.4s;
  -webkit-animation: downloader-spin ease infinite 3.4s;
  -moz-animation: downloader-spin ease infinite 3.4s;
  transform: translate(-50%, -30px)
}

@media(min-width:576px) {
  .download-block {
    border-top: 1px solid #C4C4C4;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media(max-width:991px) {
  .download-block {
    margin-top: 30px
  }
}

@media(max-width:767px) {
  .download-block {
    margin-top: 20px
  }
}

@media(max-width:575px) {
  .download-block {
    margin-top: 0
  }
}

@keyframes downloader-spin {

  0%,
  100% {
    box-shadow: 10px 10px rgb(255, 212, 0), -10px 10px rgb(255, 212, 0), -10px -10px rgb(255, 212, 0), 10px -10px rgb(255, 212, 0)
  }

  25% {
    box-shadow: -10px 10px rgb(255, 212, 0), -10px -10px rgb(255, 212, 0), 10px -10px rgb(255, 212, 0), 10px 10px rgb(255, 212, 0)
  }

  50% {
    box-shadow: -10px -10px rgb(255, 212, 0), 10px -10px rgb(255, 212, 0), 10px 10px rgb(255, 212, 0), -10px 10px rgb(255, 212, 0)
  }

  75% {
    box-shadow: 10px -10px #FFD400, 10px 10px #FFD400, -10px 10px #FFD400, -10px -10px #FFD400
  }
}

@-o-keyframes downloader-spin {

  0%,
  100% {
    box-shadow: 10px 10px rgb(255, 212, 0), -10px 10px rgb(255, 212, 0), -10px -10px rgb(255, 212, 0), 10px -10px rgb(255, 212, 0)
  }

  25% {
    box-shadow: -10px 10px rgb(255, 212, 0), -10px -10px rgb(255, 212, 0), 10px -10px rgb(255, 212, 0), 10px 10px rgb(255, 212, 0)
  }

  50% {
    box-shadow: -10px -10px rgb(255, 212, 0), 10px -10px rgb(255, 212, 0), 10px 10px rgb(255, 212, 0), -10px 10px rgb(255, 212, 0)
  }

  75% {
    box-shadow: 10px -10px #FFD400, 10px 10px #FFD400, -10px 10px #FFD400, -10px -10px #FFD400;
  }
}

@-ms-keyframes downloader-spin {

  0%,
  100% {
    box-shadow: 10px 10px rgb(255, 212, 0), -10px 10px rgb(255, 212, 0), -10px -10px rgb(255, 212, 0), 10px -10px rgb(255, 212, 0)
  }

  25% {
    box-shadow: -10px 10px rgb(255, 212, 0), -10px -10px rgb(255, 212, 0), 10px -10px rgb(255, 212, 0), 10px 10px rgb(255, 212, 0)
  }

  50% {
    box-shadow: -10px -10px rgb(255, 212, 0), 10px -10px rgb(255, 212, 0), 10px 10px rgb(255, 212, 0), -10px 10px rgb(255, 212, 0)
  }

  75% {
    box-shadow: 10px -10px #FFD400, 10px 10px #FFD400, -10px 10px #FFD400, -10px -10px #FFD400
  }
}

@-webkit-keyframes downloader-spin {

  0%,
  100% {
    box-shadow: 10px 10px rgb(255, 212, 0), -10px 10px rgb(255, 212, 0), -10px -10px rgb(255, 212, 0), 10px -10px rgb(255, 212, 0)
  }

  25% {
    box-shadow: -10px 10px rgb(255, 212, 0), -10px -10px rgb(255, 212, 0), 10px -10px rgb(255, 212, 0), 10px 10px rgb(255, 212, 0)
  }

  50% {
    box-shadow: -10px -10px rgb(255, 212, 0), 10px -10px rgb(255, 212, 0), 10px 10px rgb(255, 212, 0), -10px 10px rgb(255, 212, 0)
  }

  75% {
    box-shadow: 10px -10px #FFD400, 10px 10px #FFD400, -10px 10px #FFD400, -10px -10px #FFD400;
  }
}

@-moz-keyframes downloader-spin {

  0%,
  100% {
    box-shadow: 10px 10px rgb(255, 212, 0), -10px 10px rgb(255, 212, 0), -10px -10px rgb(255, 212, 0), 10px -10px rgb(255, 212, 0);
  }

  25% {
    box-shadow: -10px 10px rgb(255, 212, 0), -10px -10px rgb(255, 212, 0), 10px -10px rgb(255, 212, 0), 10px 10px rgb(255, 212, 0)
  }

  50% {
    box-shadow: -10px -10px rgb(255, 212, 0), 10px -10px rgb(255, 212, 0), 10px 10px rgb(255, 212, 0), -10px 10px rgb(255, 212, 0)
  }

  75% {
    box-shadow: 10px -10px #FFD400, 10px 10px #FFD400, -10px 10px #FFD400, -10px -10px #FFD400
  }
}

.map-farm__info-block .map-farm__info-block-title {
  color: inherit;
}

.map-farm__info-block-title--active {
  color: #13A538 !important
}

.posts-block-title {
  display: flex;
}

.recomended-post-list div.editions__block {
  width: 100%;
}

.recomended-post-list .editions__list--wrapper {
  margin-right: 15px;
  width: 460px;
}

.form-feedback-new .v-text-field__slot input {
  margin-top: 22px;
  padding-bottom: 30px;
  padding-left: 25px;
  padding-right: 25px;
}

.form-feedback-new .v-text-field__slot textarea {
  //max-height: 157px;
  height: 157px;
  padding-left: 25px;
  padding-right: 25px;
  overflow-y: scroll !important;
  max-height: 157px;
}

.wrap__farm-video {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  overflow: hidden;
  @media (max-width: 480px) {
    border-radius: 5px;
  }
}

.wrap__farm-video img {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.farm-about__product {
  position: relative;
}

.swiper-pagination--settings {
  margin-top: 30px;
  width: 340px !important;
  display: flex;
  justify-content: space-between;
  @media (max-width: 375px) {
    width: 100% !important;
  }
}

.swiper-pagination--settings span {
  width: 30%;
  height: 5px;
  border-radius: 6px !important;
  background: #13A538;
}

.project-page__slider {
  margin-bottom: 30px;
}

.address__social {
  margin-top: 35px;
}

.address__text-fb {
  font-weight: 600;
}

.editions__sorting-title--active {
  box-shadow: 0 0 0 1px #13a538 inset;
  background: #13A538 !important;
}

.editions__sorting-title--active span {
  color: white !important;
}

@media screen and (max-width: 1100px) {
  .farm-heading-flex{
    padding-right: 0!important;
  }
}

@media screen and (max-width: 480px) {
  .contacts-container{
    .block{
      margin-bottom: 50px;
    }
  }
  .margin-mobile-none{
    margin: 0!important;
  }
  #map{
    border-radius: 14px!important;
    overflow: hidden;
  }
}

.editions__list--gradient {
  position: absolute;
  width: 430px;
  height: 357px;
  right: -14px;
  bottom: 107px;
  z-index: 1000000000000;

  @media (max-width: 1024px) {
    display: none;
  }

  background: linear-gradient(270deg, #FFFFFF 54.3%, rgba(255, 255, 255, 0) 100%);
}