@import "~vuetify/src/styles/settings/variables";

// Colors
$main-background: #ffffff;
$text: #343434;
$text-blue: #426BFF;
$green: #13A538;
$yellow: #FFD400;
$dark-yellow: #F4CB00;
$light-gray: #E9ECF3;
$scroll-horizontal: #24D451;
$scroll-vertical: #575857;
$scroll-background: #E9ECF3;
$border-radius: 20px;

$large-container-margin: 5.625%;
$medium-container-margin: 6%;
$small-container-margin: 6.66666667%;